Repository cosmos/ethermint, pull requests merged in 2018-08, with the labels that each got.

#451 R4R: Transaction Implementation
  Gopkg.lock
  Gopkg.toml
  app/ethermint.go
  handlers/ante.go
  types/errors.go
  types/tx.go
  types/tx_test.go
  types/utils.go
  types/utils_test.go
  types/wire.go
Labels: core, pre-release, ready for review

#464 R4R: Add Caching to Store Database
  state/database.go
  state/trie.go
  test/run.go
Labels: core, pre-release, ready for review

#467 Fix broken state unit tests
  state/database.go
  state/database_test.go
  state/test_utils.go
  state/trie_test.go
Labels: ready for review, tests

#460 WIP: Start RPC API implementation
  Gopkg.lock
  Makefile
  cmd/emintcli/main.go
  cmd/emintd/main.go
  server/rpc/apis.go
  server/rpc/apis_test.go
  server/rpc/config.go
  server/rpc/rpc.go
  server/rpc/rpc_test.go
  server/start.go
  version/version.go
Labels: core, pre-release, rpc, wip

#471 R4R: Implement Initial Spec/Documentation
  README.md
  docs/intro/README.md
  docs/spec/transactions/README.md
Labels: docs, pre-release, ready for review

#476 R4R: Implement Initial ABCI Application
  Gopkg.lock
  Gopkg.toml
  app/ethermint.go
  app/genesis.go
  handlers/ante.go
  types/account.go
  types/tx.go
  types/wire.go
Labels: core, pre-release, ready for review

#472 R4R: Stub out other RPC endpoints
  Gopkg.lock
  server/rpc/apis.go
  server/rpc/apis_test.go
  server/rpc/config.go
  server/rpc/eth_api.go
  server/rpc/rpc.go
  version/version.go
Labels: pre-release, ready for review, rpc

#478 R4R: Reintroduce Embedded Transactions
  app/ethermint.go
  docs/spec/transactions/README.md
  handlers/ante.go
  types/test_common.go
  types/tx.go
  types/tx_test.go
  types/utils.go
  types/utils_test.go
  types/wire.go
Labels: core, docs, pre-release, ready for review
