Repository cosmos/ethermint, pull requests merged in 2020-12, with the labels that each got.

#620 evm: implement vm.GetHashFn
  CHANGELOG.md
  app/export.go
  x/evm/keeper/abci.go
  x/evm/keeper/keeper.go
  x/evm/keeper/keeper_test.go
  x/evm/types/journal_test.go
  x/evm/types/key.go
  x/evm/types/state_transition.go
  x/evm/types/state_transition_test.go
  x/evm/types/statedb.go
  x/evm/types/statedb_test.go
  x/evm/types/utils.go
Labels: Status: Needs Review

#643 evm: extra eips param
  CHANGELOG.md
  x/evm/types/params.go
  x/evm/types/params_test.go
  x/evm/types/state_transition.go
Labels: Status: Needs Review, x/evm

#575 rpc: protocol version
  CHANGELOG.md
  Makefile
  rpc/namespaces/eth/api.go
  rpc/namespaces/web3/api.go
  tests/rpc_test.go
  types/protocol.go
  version/version.go
  x/evm/keeper/querier.go
  x/evm/keeper/querier_test.go
  x/evm/types/querier.go
Labels: Status: Needs Review

#538 evm: module specification
  x/evm/keeper/abci.go
  x/evm/spec/01_concepts.md
  x/evm/spec/02_state.md
  x/evm/spec/03_state_transitions.md
  x/evm/spec/04_messages.md
  x/evm/spec/05_abci.md
  x/evm/spec/06_events.md
  x/evm/spec/07_params.md
  x/evm/spec/README.md
  x/evm/types/statedb.go
Labels: documentation, x/evm

#651 atlas: evm module
  x/evm/atlas/atlas-v0.3.1.md
  x/evm/atlas/atlas.toml
Labels: automerge, documentation

#661 evm: balance and nonce invariants
  CHANGELOG.md
  app/ethermint.go
  x/evm/genesis.go
  x/evm/genesis_test.go
  x/evm/keeper/invariants.go
  x/evm/keeper/invariants_test.go
  x/evm/keeper/keeper.go
  x/evm/keeper/querier.go
  x/evm/module.go
  x/evm/types/expected_keepers.go
  x/evm/types/genesis.go
  x/evm/types/genesis_test.go
Labels: Status: Needs Review, automerge, x/evm

#662 rpc: fix cumulative gas
  CHANGELOG.md
  rpc/namespaces/eth/api.go
  rpc/types/utils.go
Labels: Status: Needs Review, Type: Bug, automerge, rpc

#571 Pending
  CHANGELOG.md
  Makefile
  init.sh
  rpc/backend/backend.go
  rpc/namespaces/eth/api.go
  rpc/types/block.go
  rpc/types/utils.go
  scripts/integration-test-all.sh
  tests/personal_test.go
  tests/rpc_test.go
  tests/tests-pending/rpc_pending_test.go
  tests/utils.go
Labels: Status: Needs Review, automerge, rpc
